.movie-details-root {
    background-color: #333;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.move-detail-container {
    height: 100vh;
    color: #fff;
    background-color: #333;
    padding: 5px;
    overflow: auto;
}

.movie-image {
    max-height: 70vh;
}

.back-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 8px;
    padding: 10px 30px;
    background-color: #444;
    cursor: pointer;
    text-align: center;
}