.movies-root {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.movies-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    font-size: 30px;
    color: yellow;
}

.movie-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.movie {
    padding: 5px;
    background-color: #333;
    margin: 2px;
    flex: 1;
    cursor: pointer;
    color: #fff;
}

.movie_image {
    height: 300px;
    width: 300px;
}

.movieDetails {
    position: absolute;
}